
.para {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(254, 173, 34);
}

.head {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.line {
    background-color: rgb(254, 173, 34);
    border-radius: 2px;
}

.col1 {
    height: 80%;
    width: 30%;
    background-color: darkviolet;
    padding: 25px;
    border-right: 25px solid #6F2DAE;
    
}
.col2 {
    background-color: darkviolet;
    padding: 25px;
    border-right: 25px solid #6F2DAE;
}
.col3 {
    background-color: darkviolet;
    padding: 25px;
    border-right: 25px solid #6F2DAE;
}